{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <main class="container p-5">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
                {% for hist_item in hist %}
                <tr>
                    {% for key, value in hist_item.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>

        </main>


{% endblock %}
